In [1]:
import pandas as pd
from os import path
fname = path.expanduser('track.csv')

In [2]:
!ls -lh 'track.csv'

-rwxrwxrwx 1 suraj suraj 43K Apr  7  2017 track.csv

In [3]:
path.getsize(fname)

43844

In [4]:
path.getsize(fname) / (1<<10)

42.81640625

In [5]:
!head "$fname"

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219

In [6]:
with open(fname) as fp:
    for line_no, line in enumerate(fp):
        if line_no > 10:
            break
        else:
            print(line[:-1])

time,lat,lng,height
2015-08-20 03:48:07.235,35.015021,32.519585,136.1999969482422
2015-08-20 03:48:24.734,35.014954,32.519606,126.5999984741211
2015-08-20 03:48:25.660,35.014871,32.519612,123.0
2015-08-20 03:48:26.819,35.014824,32.519654,120.5
2015-08-20 03:48:27.828,35.014776,32.519689,118.9000015258789
2015-08-20 03:48:29.720,35.014704,32.519691,119.9000015258789
2015-08-20 03:48:30.669,35.014657,32.519734,120.9000015258789
2015-08-20 03:48:33.793,35.014563,32.519719,121.69999694824219
2015-08-20 03:48:34.869,35.014549,32.519694,121.19999694824219
2015-08-20 03:48:37.708,35.014515,32.519625,121.69999694824219

In [7]:
!wc -l "$fname"

741 track.csv

In [8]:
with open(fname) as fp:
    print(sum(1 for line in fp))

741

## With pandas

In [9]:
df = pd.read_csv(fname)

In [15]:
df.head()

                      time        lat        lng      height
0  2015-08-20 03:48:07.235  35.015021  32.519585  136.199997
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002

In [11]:
len(df)

740

In [12]:
df.columns

Index(['time', 'lat', 'lng', 'height'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 4 columns):
time      740 non-null object
lat       740 non-null float64
lng       740 non-null float64
height    740 non-null float64
dtypes: float64(3), object(1)
memory usage: 23.2+ KB

In [16]:
df.dtypes

time       object
lat       float64
lng       float64
height    float64
dtype: object

In [17]:
df_rev = pd.read_csv(fname, parse_dates=['time'])

In [18]:
df_rev.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [20]:
df['lat']

0      35.015021
1      35.014954
2      35.014871
3      35.014824
4      35.014776
5      35.014704
6      35.014657
7      35.014563
8      35.014549
9      35.014515
10     35.014505
11     35.014481
12     35.014472
13     35.014439
14     35.014432
15     35.014414
16     35.014400
17     35.014372
18     35.014365
19     35.014337
20     35.014331
21     35.014303
22     35.014306
23     35.014340
24     35.013531
25     35.013606
26     35.013630
27     35.013705
28     35.013730
29     35.013809
         ...
710    35.015705
711    35.015640
712    35.015617
713    35.015551
714    35.015533
715    35.015468
716    35.015444
717    35.015369
718    35.015343
719    35.015264
720    35.015238
721    35.015157
722    35.015129
723    35.015048
724    35.015023
725    35.014943
726    35.014916
727    35.014835
728    35.014810
729    35.014737
730    35.014709
731    35.014617
732    35.014584
733    35.014518
734    35.014484
735    35.014387
736    35.014355
737    35.014279
738    35.014264
739    35.014212
Name: lat, Length: 740, dtype: float64

In [21]:
df.loc[0]

time      2015-08-20 03:48:07.235
lat                        35.015
lng                       32.5196
height                      136.2
Name: 0, dtype: object

In [22]:
df.loc[1:5]

                      time        lat        lng      height
1  2015-08-20 03:48:24.734  35.014954  32.519606  126.599998
2  2015-08-20 03:48:25.660  35.014871  32.519612  123.000000
3  2015-08-20 03:48:26.819  35.014824  32.519654  120.500000
4  2015-08-20 03:48:27.828  35.014776  32.519689  118.900002
5  2015-08-20 03:48:29.720  35.014704  32.519691  119.900002

In [25]:
import numpy as np
df1 = pd.DataFrame(np.arange(10).reshape(5,2), columns=['x', 'y'], index=['a', 'b', 'c', 'd', 'e'])
df1

   x  y
a  0  1
b  2  3
c  4  5
d  6  7
e  8  9

In [26]:
df1.loc['a']

x    0
y    1
Name: a, dtype: int64

In [27]:
df.index

RangeIndex(start=0, stop=740, step=1)

In [28]:
df.index = df['time']

In [32]:
df.index

Index(['2015-08-20 03:48:07.235', '2015-08-20 03:48:24.734',
       '2015-08-20 03:48:25.660', '2015-08-20 03:48:26.819',
       '2015-08-20 03:48:27.828', '2015-08-20 03:48:29.720',
       '2015-08-20 03:48:30.669', '2015-08-20 03:48:33.793',
       '2015-08-20 03:48:34.869', '2015-08-20 03:48:37.708',
       ...
       '2015-08-20 04:20:18.844', '2015-08-20 04:20:21.996',
       '2015-08-20 04:20:22.897', '2015-08-20 04:20:24.905',
       '2015-08-20 04:20:25.835', '2015-08-20 04:20:28.982',
       '2015-08-20 04:20:29.923', '2015-08-20 04:20:32.863',
       '2015-08-20 04:20:33.994', '2015-08-20 04:20:42.329'],
      dtype='object', name='time', length=740)

In [33]:
import pytz

In [34]:
df1.index[0]

'a'

In [35]:
df_rev.index = df['time']

In [36]:
df_rev.index[0]

'2015-08-20 03:48:07.235'

In [42]:
ts = df_rev.index[0]

In [43]:
df_rev.dtypes

time      datetime64[ns]
lat              float64
lng              float64
height           float64
dtype: object

In [44]:
import geo

In [45]:
??geo

In [46]:
from geo import circle_dist

In [47]:
lat1, long1 = df.iloc[0]['lat'], df.iloc[0]['lng']
lat2, long2 = df.iloc[1]['lat'], df.iloc[1]['lng']

In [49]:
circle_dist(lat1, long1, lat2, long2)

0.007693931535344109

In [50]:
dist = circle_dist(df['lat'], df['lng'], df['lat'].shift(), df['lng'].shift())

In [51]:
dist[:5]

time
2015-08-20 03:48:07.235         NaN
2015-08-20 03:48:24.734    0.007694
2015-08-20 03:48:25.660    0.009248
2015-08-20 03:48:26.819    0.006479
2015-08-20 03:48:27.828    0.006219
dtype: float64

In [53]:
dt = df_rev['time'] - df_rev['time'].shift()

In [54]:
type(dist)

pandas.core.series.Series

In [60]:
dt[1]

Timedelta('0 days 00:00:17.499000')

In [62]:
dt[1].total_seconds()

17.499

In [63]:
dt[1] / np.timedelta64(1, 'h')

0.004860833333333333

In [64]:
speed = dist / (dt / np.timedelta64(1, 'h'))

In [65]:
speed[:10]

time
2015-08-20 03:48:07.235          NaN
2015-08-20 03:48:24.734     1.582842
2015-08-20 03:48:25.660    35.954340
2015-08-20 03:48:26.819    20.123165
2015-08-20 03:48:27.828    22.187213
2015-08-20 03:48:29.720    15.241680
2015-08-20 03:48:30.669    24.783839
2015-08-20 03:48:33.793    12.151207
2015-08-20 03:48:34.869     9.225036
2015-08-20 03:48:37.708     9.301281
dtype: float64

In [69]:
df_rev['dist'] = dist
df_rev['dt'] = dt / np.timedelta64(1, 'h')

In [71]:
df_rev['speed'] = speed

In [72]:
speed.describe()

count    739.000000
mean       9.571497
std        2.946433
min        1.582842
25%        7.900171
50%        9.585023
75%       10.881872
max       38.128326
dtype: float64

In [73]:
%matplotlib inline

In [ ]:
speed.plot()